{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">List of Broad Cast</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Broad Cast</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
								 
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Lead Name</th>
													<th>Lead company</th>
													<th>Lead domain</th>
												 
													<th>   Lead Created By</th>
													
												</tr>
											</thead>
											<tbody>
										 
											{% for   d in data %}
								 

												<tr>
												 
													<td>   {{d.LeadName}}</td>
													<td>   {{d.LeadCompany}}</td>
													<td>   {{d.LeadDomain}}</td>
													<td>   {{d.LeadCreatedBy}}</td>
																										
													 
											 
													
												</tr>
												 {% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>			
					</div>
					
				</div>			
			</div>
{% endblock %}
 